<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">VideoStoreApp</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/videos">Videos<span class="sr-only">(current)</span></a>
      </li> 
      <li class="nav-item active">
          <a class="nav-link" routerLink="/admin/customers">Customers<span class="sr-only">(current)</span></a>
        </li>      
    </ul>    
    
    <ul class="navbar-nav ml-auto right">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> 
      <!-- <div *ngIf="token == null; else loggedIn"> -->
        <li *ngIf="!authService.loggedIn()" class="nav-item active">
          <a class="btn btn1" (click)="onLogin()" role="button" aria-pressed="true">Admin Login</a>
        </li>
        <li *ngIf="!authService.loggedIn()" class="nav-item">
          <a class="btn btn1" (click)="onRegister()" role="button" aria-pressed="true">Register</a>
        </li>
      <!-- </div>     -->
      <!-- <ng-template #loggedIn> -->
        <p *ngIf="authService.loggedIn()">Welcome {{username}}</p>
        <li *ngIf="authService.loggedIn()" class="nav-item">
          <a class="btn btn1" (click)="onLogoutClick()" role="button" aria-pressed="true">Log out</a>
        </li>
      <!-- </ng-template>       -->
  </ul>
  </div>
</nav>