<div>
  <table id="myTable">
    <tr>
      <th *ngFor="let header of video_headers">{{header}}</th>
    </tr>    
    <tr *ngFor="let video of videos">
      <td>{{video.title}}</td>
      <td>{{video.runningTime}}</td>
      <td>{{video.genre}}</td>
      <td>{{video.rating}}</td>
      <td>{{video.director}}</td>
      <td>{{video.status}}</td>
      <td *ngIf="video.status == 'Available'; else unavailable">
        <a routerLink="/reserve" class="btn btn-default">Reserve</a>
      </td>
      <ng-template #unavailable><p></p></ng-template>
    </tr>    
  </table>
</div>