{{text}}
<table align="center" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" *ngFor="let header of video_headers">{{header}}</th>
    </tr>  
  </thead> 
  <tbody> 
    <tr *ngFor="let video of videos | filter : searchText">
      <td>{{video.title}}</td>
      <td>{{video.runningTime}}</td>
      <td>{{video.genre}}</td>
      <td>{{video.rating}}</td>
      <td>{{video.director}}</td>
      <td>{{video.status}}</td>
      <td *ngIf="video.status == 'Available'; else unavailable">
        <a routerLink="/reserve/video._id" class="btn btn-primary" role="button">Reserve</a>
      </td>
      <ng-template #unavailable><p></p></ng-template>
    </tr>    
  </tbody>
</table>
