<form (submit)="addVideo()">
  <table align="center" class="table">
    <tr>
      <td rowspan="7">Image</td>
      <td><b>Title</b></td>
      <td><input type="text" class="form-control" [(ngModel)]="title" name="title" placeholder="Enter title"></td>
    </tr>
    <tr>
      <td><b>Running Time</b></td>
      <td><input type="text" class="form-control" [(ngModel)]="runningTime" name="runningTime" placeholder="Enter running time"></td>
    </tr>
    <tr>
      <td><b>Genre</b></td>
      <td>
        <div>            
          <select name="genre" [(ngModel)]="genre">
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Science">Science</option>
            <option value="Fiction">Fiction</option>
          </select>            
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Rating</b></td>
      <td>
        <div>            
          <select name="rating" [(ngModel)]="rating">
            <option value="1 star">1 star</option>
            <option value="2 stars">2 stars</option>
            <option value="3 stars">3 stars</option>
            <option value="4 stars">4 stars</option>
            <option value="5 stars">5 stars</option>
          </select>            
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Director</b></td>
      <td><input type="text" class="form-control" [(ngModel)]="director" name="director" placeholder="Enter director"></td>
    </tr>
    <tr>
      <td><b>Status</b></td>
      <td>
        <div>            
          <select name="status" [(ngModel)]="status">
            <option value="Available">Available</option>
            <option value="Unavailable">Unavailable</option>
          </select>            
        </div>
      </td>
    </tr>
    <tr>
      <td><button class="btn btn-primary" (click)="goBack()">Back</button></td>
      <td><button type="submit" class="btn btn-primary">Add</button></td>
    </tr>
  </table>
</form>
 