{{customers}}
<form action="">
  <table align="center" class="table">
    <tr>
      <td rowspan="7">Image</td>
      <td>Title</td>
      <td>{{title}}</td>
    </tr>
    <tr>
      <td>Running Time</td>
      <td>{{runningTime}}</td>
    </tr>
    <tr>
      <td>Genre</td>
      <td>{{genre}}</td>
    </tr>
    <tr>
      <td>Rating</td>
      <td>{{rating}}</td>
    </tr>
    <tr>
      <td>Director</td>
      <td>{{director}}</td>
    </tr>
    <tr>
      <td>Customer</td>
      <td>
        <div>            
          <select name="customers" [(ngModel)]="customers">
            <option *ngFor="let customer of customers" value="customer.id">{{customer.fname}} {{customer.lname}}</option>  
          </select>            
        </div>
      </td>
    </tr>
    <tr>
      <td><button class="btn btn-primary" (click)="goBack()">Back</button></td>
      <td><button class="btn btn-primary" (click)="onReserve()">Reserve</button></td>
    </tr>
  </table>
</form>
