<div class="container-fluid">
  <div>
    <h2>Admin Login</h2>
    <form (submit)="onLoginSubmit()">
      <table>
        <tr>
          <td><label for="login">Login</label></td>
          <th><input type="text" [(ngModel)]="username" name="username"></th>
        </tr>
        <tr>
          <td><label for="password">Password</label></td>
          <th><input type="password" [(ngModel)]="password" name="password"></th>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Login"></td>
        </tr>
      </table>
    </form>
  </div>
</div>