<table align="center" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" *ngFor="let header of video_headers">{{header}}</th>
    </tr>    
  </thead>
  <tbody>
    <tr *ngFor="let video of videos | filter : searchText" >
      <td>{{video.title}}</td>
      <td>{{video.runningTime}}</td>
      <td>{{video.genre}}</td>
      <td>{{video.rating}}</td>
      <td>{{video.director}}</td>
      <td>{{video.status}}</td>
      <td><a routerLink="/admin/videos/update" class="btn btn-primary" role="button">Update</a></td>
      <td><button class="btn btn-primary" (click)="onDelete()">Delete</button></td>
    </tr>      
  </tbody>  
</table>
<button id="btnAdd" routerLink="/admin/videos/add" class="btn btn-primary">Add New Video</button>
